@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Just+Another+Hand&family=Permanent+Marker&family=Slabo+27px&display=swap');
@font-face {
    font-family: 'grafFont';
    src: url('fonts/tagtype.ttf');
    format('truetype');
}

@font-face {
    font-family: 'titleFont';
    src: url('fonts/Sister\ Spray.ttf');
    format('truetype');
}

ul {
    list-style-type: none;
    text-align: right;
}

.js-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: #024249;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    padding-left: 5%;
    /* border: 5px double; */
}

a {
    font-size: 24px;
}

.sbmtbttn {
    width: 100px;
}

body {
    background: #CFF6CF;
    padding: 10px;
}

h1,
h2 {
    color: #035AA6;
}

#wrongAnswerNext {
    color: #035AA6;
    text-align: right;
}

.titleScreen {
    font-size: 48px;
    font-family: titleFont;
}

p {
    color: #024249;
}

.scoreCard {
    font-family: 'Just Another Hand', cursive;
    font-size: 24px;
    padding: 0;
    color: #035AA6;
}

h1 {
    font-size: 36px;
    font-family: grafFont, sans-serif;
    padding: 0;
}

h2 {
    font-size: 40px;
}

.feedbackArea p {
    color: #024249;
    font-size: 30px;
    font-family: 'Slabo 27px', serif;
}

legend {
    background-color: #79d70f;
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Francois One', sans-serif;
    font-size: 18px;
}

.start {
    text-align: center;
    align-items: center;
}

fieldset {
    border: 5px double #79d70f;
    width: 85%;
}

.summary {
    text-align: center;
    align-items: center;
}

@media (max-width: 700px) {
    .feedbackArea p {
        color: #024249;
        font-size: 20px;
        font-family: 'Slabo 27px', serif;
    }
    body {
        padding: 2px;
    }
    fieldset {
        width: 95%;
        padding: 2px;
    }
    .titleScreen {
        font-size: 24px;
    }
}